.overlay {
  position: absolute;
  z-index: 99;
}

.review {
  background-color: white;
}

.icon {
  height: 1rem;
  width: 1rem;
}

/* Attach to `<html>` to hide all reviews */
.hide-reviews-everywhere .overlay .review {
  visibility: hidden;
}

.timeline-reviews-feed {
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
}
